.header {
  height: 100px;
  background-color: rgb(63, 238, 115);
  padding: 20px 0;

}
.inner {
  width: 1024px;
  margin: 0 auto;
}
.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.logo {
  color: #0a0a0a;
  font-size: 50px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.logo:hover{
  cursor: pointer;
  color: rgb(136, 207, 163);
  text-shadow:1px 0 5px #022941;
  transition: 0.4s ease;
}
.nav__right{
  display: flex;
  justify-content: center;
  align-items: center;
}
.current__name{
  margin-right: 30px;
}
.btn__pro{
  margin: 0 20px;
  text-align: center;
}

.nav__btn{
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: rgb(230, 248, 227);
  text-decoration: none;
  user-select: none;
  border: 1px rgb(5, 175, 130) solid;
  background-color: rgb(5, 175, 130);
  border-radius: 3px;
  transition: 0.4s ease;
}
.nav__btn:hover{
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 1px 8px 0 rgba(0, 0, 0, 0.12);
  cursor: pointer;
  background-color: rgb(1, 27, 21);
}