<header class="header">
  <div class="inner">
    <div class="nav">
      <div class="nav__left">
        <%= link_to "TSUNAGU", root_path, class: :logo %>
      </div>
      <div class="nav__right">
        <div class="btn__pro">
          <p><b>生産者</b>はこちら</p>
          <%= link_to "ログイン", "#", class: :nav__btn %>
        </div>
        <div class="btn__pro">
          <p><b>購入者</b>はこちら</p>
          <%= link_to "ログイン", "#", class: :nav__btn %>
        </div>
      </div>
    </div>
  </div>
</header>