// Place all the styles related to the introductions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* introductionページ */
.first-section{
  background-color: black;
  height: 100px;
  display: flex;
  justify-content: space-evenly;
}
.top__image{
  height: 100px;
  width: auto;
  border: 3px black solid;
}
.second-section{
  height: 250px;
  margin: 0 160px;
}
.introduction{
  text-align: center;
  em{
    font-family: monospace;
    font-size: 16px;
  }
}
.intro_title{
  font-size: 30px;
}
.third-section{
  height: 250px;
  margin: 0 160px;
}
.select_login{
  display: flex;
  justify-content: space-around;
}
.producers_icon{
  position: relative;
  background-color: rgb(114, 231, 240);
  padding: 45px 25px 20px;
  border: 1px rgb(114, 231, 240) solid;
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.2), 0 1px 8px 0 rgba(0, 0, 0, 0.12);
  transition: 0.4s ease;
  p{
    position: absolute;
    color: rgb(63, 60, 60);
    font-family: monospace;
    font-size: 1.3em;
    top: 20px;
    text-shadow: 0px 0px 1px rgb(117, 112, 112);
    text-align: justify-all;
    transition: 0.4s ease;
  }
}
.producers_icon:hover{
  background-color: rgb(18, 139, 238);
  border: 1px rgb(18, 139, 238) solid;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 3px 12px 0 rgba(0, 0, 0, 0.12);
  cursor: pointer;
  p{
    text-shadow: 0px 0px 5px rgb(117, 112, 112);
    color: whitesmoke;
  }
}
.customers_icon{
  position: relative;
  background-color: rgb(243, 148, 119);
  border: 1px rgb(243, 148, 119) solid;
  padding: 45px 25px 20px;
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.2), 0 1px 8px 0 rgba(0, 0, 0, 0.12);
  transition: 0.4s ease;
  p{
    position: absolute;
    color: rgb(63, 60, 60);
    font-family: monospace;
    font-size: 1.3em;
    top: 20px;
    text-shadow: 0px 0px 1px rgb(117, 112, 112);
    text-align: justify-all;
    transition: 0.4s ease;
  }
}
.customers_icon:hover{
  background-color: rgb(240, 98, 16);
  border: 1px rgb(240, 98, 16) solid;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 3px 12px 0 rgba(0, 0, 0, 0.12);
  cursor: pointer;
  p{
    text-shadow: 0px 0px 5px rgb(117, 112, 112);
    color: whitesmoke;
  }
}
.login_icon{
  width: 100%;
  padding: 20px 30px;
}

.fourth-section{
  background-color: black;
  height: 100px;
  display: flex;
  justify-content: space-evenly;
}