// Place all the styles related to the introductions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* introductionページ */

.contents{
  height: calc(100vh - 150px);
  // background-color: cyan;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.upper-section{
  // background-color: bisque;
  height: 200px;
  width: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.log-name{
  color: black;
  // font-size: 30px;
  text-align: center;
}
.login-section{
  // background-color: darkorange;
  height: 300px;
  width: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.inners{
  // background-color: darkgoldenrod;
}
.login-switch{
  // background-color: cadetblue;
  width: 50vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.producers{
  background-color: rgb(241, 243, 108);
  border: 1px black solid;
  padding: 20px;
  list-style: none;
}
.customers{
  background-color: rgb(243, 148, 119);
  border: 1px black solid;
  padding: 20px;
  list-style: none;
}
.icon{
  padding-left: 30px;
  padding-bottom: 10px;
}
