<%= render "shared/product_header" %>
<main class="main">
  <div class="inner">
    <div class="card__wrapper">
      <%= @product %>
      <%= render partial: "product", collection: @products %>
    </div>
  </div>
</main>
<%= render "shared/footer" %>
