<%= render "shared/product_header" %>
<div class="main">
  <div class="inner">
    <div class="form__wrapper">
      <h2 class="page-heading">商品(生産物)の新規登録</h2>
      <%= render "form" %>
      <%= link_to '戻る', products_path %>
    </div>
  </div>
</div>
<%= render "shared/footer" %>